# ignore all mp4
*.mp4

# ignore all gif
*.gif

# ignore compilation files of LaTex
main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.run.xml
main.synctex.gz

# ignore output of simulation
Ring/dataRing.txt
